<h1>Ads</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ad Type</th>
      <th>Image</th>
      <th>Galleries</th>
      <th>Company Name</th>
      <th>User Name</th>
      <th colspan="3">Controls</th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.name %></td>
        <td><%= ad.ad_type %></td>
        <td><%= image_tag(ad.image, class: 'thumbnail') %></td>
        <td>
          <% ad.galleries.each do |gallery| %>
            <p><%= gallery.name %></p>
          <% end %>
        </td>
        <td><%= ad.company.name if ad.company && !ad.company_id.nil? %></td>
        <td><%= ad.user.name if ad.user && !ad.user.name.nil? %></td>
        <td><%= link_to 'Show', ad %></td>
        <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
        <td><%= link_to 'Destroy', ad, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Ad", new_ad_path %>
