<h1>Galleries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Ads</th>
      <th>Creator (User)</th>
      <th>Company (if applicable)</th>
      <th colspan="3">Controls</th>
    </tr>
  </thead>

  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= gallery.name %></td>
        <td><%= gallery.category %></td>
        <td>
          <% gallery.ads.each do |ad| %>
            <p><%= ad.name %></p>
          <% end %>
        </td>
        <td><%= gallery.user.name if gallery.user && !gallery.user.name.nil? %></td>
        <td><%= gallery.user.company.name if gallery.user && gallery.user.company && !gallery.user.company.name.nil? %></td>
        <td><%= link_to 'Show', gallery %></td>
        <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
        <td><%= link_to 'Destroy', gallery, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Gallery", new_gallery_path %>
